// Use the platform default background color for text
// selection when the editor has a selection _and_ is
// focused.
.CodeMirror-focused {
  .CodeMirror-selected {
    background: Highlight;
  }

  .CodeMirror-selectedtext {
    color: HighlightText !important;
  }
}

.CodeMirror-lines * {
  cursor: text;
}

// If the editor isn't focused then we should hide
// any trace of the selection to match native input
// control behavior.
.CodeMirror-selectedtext {
  color: inherit;
}
.CodeMirror-selected {
  background: inherit;
}

.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
  background: var(--box-alt-background-color);
  div {
    background: var(--scroll-bar-thumb-background-color);
    border: none;
  }
}
