.list {
  position: relative;
  flex-grow: 1;
  height: 100%;

  // Sane default for flexboxes making lists
  // constrain to the size of their flexbox
  // parent.
  min-width: 0;

  // When zooming the app the Grid may end up extending beyond the
  // confines of its container by 1px in either direction. That's not
  // important but if we don't clip the overflow we may end up covering
  // borders and we don't want that.
  overflow: hidden;

  .ReactVirtualized__Grid {
    background: var(--background-color);
  }
}

.list-focus-container {
  // The selected items must act as the focused element when inside
  &.focus-within .list-item.selected {
    --text-color: var(--box-selected-active-text-color);
    --text-secondary-color: var(--box-selected-active-text-color);

    color: var(--text-color);
    background-color: var(--box-selected-active-background-color);
  }
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100%;

  &.selected {
    --text-color: var(--box-selected-text-color);
    --text-secondary-color: var(--box-selected-text-color);

    color: var(--text-color);
    background-color: var(--box-selected-background-color);
  }

  &:focus {
    outline: none;
  }
}
