.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;

  background: var(--overlay-background-color);

  z-index: 1000;

  opacity: 0;

  transition: opacity 0.2s ease-out;

  .spin {
    margin-left: calc(50% - 8px);
    margin-top: 30px;
  }

  &.loading-overlay-mounted {
    opacity: 1;
  }
}
