#preferences {
  .accounts-tab {
    .account-info {
      .avatar {
        // 32px for the image + 2 on each side for the base border.
        width: 34px;
        height: 34px;

        border: var(--base-border);

        align-self: center;
      }

      .user-info {
        flex-grow: 1;
        align-self: flex-start;

        .name {
          font-weight: var(--font-weight-semibold);
          // Tighten it up a little so that the real name and
          // username lines up with the avatar.
          margin-top: -2px;
          margin-bottom: -2px;
        }
      }

      .actions-wrapper {
        align-self: flex-end;

        display: flex;
        flex-direction: column;

        .button-component {
          align-self: auto;

          & + .button-component {
            margin-top: 5px;
          }
        }

        .kactus-unlocked {
          margin-bottom: 5px;
        }
      }
    }
  }

  .no-options-found {
    label {
      margin-bottom: 0;
    }

    span {
      color: var(--text-secondary-color);
    }
  }

  .label-for-button {
    line-height: 25px;
  }
}

#external-editor-error {
  width: 450px;
}

.shared-page {
  position: relative;

  &:hover {
    background: var(--secondary-button-background);
  }

  .remove-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: var(--color-deleted);
    padding: 0 5px;

    .octicon,
    path {
      cursor: pointer;
    }
  }
}
