@import '../mixins';

/** A React component holding the currently selected repository */
#repository {
  height: calc(100vh - var(--toolbar-height));
  display: flex;
  flex-direction: row;
  flex: 1;

  > .focus-container {
    display: flex;
  }

  &-sidebar {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--box-border-color);
  }
}
