.changed-files-count {
  line-height: 29px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.sketch-file-action {
  color: var(--text-secondary-color);
  cursor: not-allowed;
  padding: 3px;
  height: 25px;

  path {
    cursor: not-allowed;
  }

  &.active {
    color: var(--text-color);
    cursor: pointer;
    padding: 3px;
    height: 25px;

    path {
      cursor: pointer;
    }
  }
}
